/* add your styles here */
#parent {
  display: grid;
  margin-left: 2%;
  margin-top: 25px;
  grid-template-columns: 51% 51%;
  /* column-gap: 25px; */
  row-gap: 25px;
}
img {
  width: 93%;
  height: 100%;
}
